---
layout: photography-page
body_class: photography-page
key: persistence
---

{% contentfor description %}
%p
  Persistence is a series of photographs done during my residency with
  %a{href: 'http://www.monochrom.at/english', target: '_blank'} monochrom
  in Vienna, in March and April 2008. It was exhibited May 21 - June 8, 2008, in
  %a{href: 'http://www.quartier21.at/en/', target: '_blank'}
    quartier21's Freiraum,
  Vienna, in a group show called
  %a{href: 'http://www.mqw.at/en/program//programmdetail/skin-is-longing-for-a-cream/', target: '_blank'}
    Skin is Longing For a Cream.

%p
  These photographs were shot in a large-format camera on hand-stitched black and white film. Earlier photographs using this technique were done in collaboration with
  %a{href: 'http://www.mikeestee.com/portfolio', target: '_blank'} Mike Estee
  and
  %a{href: 'http://www.twitter.com/ioerror', target: '_blank'} Jake Appelbaum
  in San Francisco, in the summer of 2007.
{% endcontentfor %}

{% contentfor credits %}
%p
  %a{href: 'http://www.twitter.com/ioerror', target: '_blank'}
    Jake Appelbaum
  (model, collaborated on development of technique)

%p
  %a{href: 'http://www.mikeestee.com/portfolio', target: '_blank'}
    Mike Estee
  (collaborated on development of technique)

%p
  %a{href: 'http://www.monochrom.at/english', target: '_blank'}
    monochom
  (sponsor for my residency in Vienna's

  %a{href: 'http://www.quartier21.at/en/', target: '_blank'}
    quartier21
  )

%p
  %a{href: 'https://about.me/grenzfurthner', target: '_blank'}
    Johannes Grenzfurthner
  (model, monochrom member)

%p
  Evelyn Fürlinger
  (model, monochrom member)

%p
  %a{href: 'http://www.niij.org', target: '_blank'}
    Michael Zeltner
  (model)

%p
  %a{href: 'https://bravenewwhat.org/', target: '_blank'}
    Jesse Darling
  (model, fellow artist-in-residence)

%p
  %a{href: 'http://sister0.org/', target: '_blank'}
    Nancy Mauro-Flude
  (model, fellow artist-in-residence)

%p
  Mond (model)

{% endcontentfor %}