---
layout: default
body_class: index
---

%section#title-section
	.title
		%img{src: '/images/logo_large.png'}

%section.about
	%img{src: '/images/self_portrait_ljubljana.jpg'}
%section.portfolio
	Portfolio stuff goes here
%section.about
	About goes here
%section.flickr
	Flickr stream goes here
%section.contact
	%i.fa.fa-twitter
	%i.fa.fa-flickr
	%i.fa.fa-envelope
