---
layout: default
---

.home
  %h1.page-heading
    Posts

  %ul.post-list
    %li kajdklsjad
    %li fkafdkd

  %ul
  {% for page in site.html_pages %}
    %li
      %a{href: "{{page.url}}"} {{page.title}}
  {% endfor %}

  {% for project in site.data.stuff %}
  .project
    .title {{project.title}}
    .date
      = Date.parse("{{project.date}}") + 2.years
  {% endfor %}
