---
layout: default
body_class: index
---

%section#site-title
	.title
		%img.site-logo{src: '/images/logo_large.png'}

%section.portfolio
	.container
		%div
			%h2.red.with-underline Projects
			{% photo_page_link_tag dancing-with-invisible-light %}
			{% photo_page_link_tag six %}

		%div
			%h2.red.with-underline Collections
			{% photo_page_link_tag music %}
			{% photo_page_link_tag portraits %}
			{% photo_page_link_tag hubba-hubba-revue %}

/ %section.about
/ 	.container
/ 		%div
/ 			%img.black-border.bio-photo.pull-left{src: '/images/self_portrait_ljubljana.jpg'}
/ 			%p
/ 				Audrey Penven

%section.flickr
	.container
		%div
			%h2.black.with-underline Flickr Stream
		%div
			{% flickr_recent_albums 6 %}
		.text-right
			%a.more{href: 'https://www.flickr.com/photos/audreypenven/sets'}
				more
%section.contact
	.container
		%div
			%img.black-border.bio-photo.pull-left{src: '/images/self_portrait_ljubljana.jpg'}

			%h2.red Me, elsewhere
			%table.find-elsewhere
				%tr
					%td
						%i.fa.fa-fw.fa-envelope
						email
					%td
						%a{href: 'mailto:audrey@audreypenven.net'}
							audrey@audreypenven.net
				%tr
					%td
						%i.fa.fa-fw.fa-twitter
						twitter
					%td
						%a{href: 'http://www.twitter.com/yerdua'}
							@yerdua
				%tr
					%td
						%i.fa.fa-fw.fa-flickr
						flickr
					%td
						%a{href: 'https://www.flickr.com/photos/audreypenven/'}
							flickr.com/photos/audreypenven
				%tr
					%td
						%i.fa.fa-fw.fa-instagram
						instagram
					%td
						%a{href: 'http://instagram.com/y3rdua'}
							@y3rdua
				%tr
					%td
						%i.fa.fa-fw.fa-github
						github
					%td
						%a{href: 'https://github.com/yerdua'}
							github.com/yerdua