---
layout: photography-page
key: interference-patterns
---

{% contentfor description %}
%p
  2007 - 2008

%p
  A past self illuminates the present. The present distorts the past. Interactions between multiple versions of self.

{% endcontentfor %}

{% contentfor credits %}
%p
  %a{href: 'http://www.mikeestee.com/portfolio/', target: '_blank'} Mike Estee
  (model, light for his portraits)

%p
  %a{href: 'http://www.maryfranck.net/', target: '_blank'} Mary Franck
  (model)

%p
  %a{href: 'http://qarly.com', target: '_blank'} Qarly Canant
  (model)
%p
  Heather Lynch Hunsinger
  (model)

{% endcontentfor %}