%header.site-header
  %a{href: '/'}
    %img.logo{src: '/images/symbol_sml.png'}
  %nav.site-nav
    %ul
      %li
        %a{href: '/photography'}
          Photography
      %li
        %a{href: '/circus'}
          Circus
      %li
        %a{href: '/blog'}
          Blog
      %li
        %a{href: '/about'}
          About