.about-body {
  #primary-image {
    background-image: url('/images/section_backgrounds/about.jpg');
    background-attachment: fixed;
    background-size: auto 450px;
    background-position: center 50px;
    background-repeat: no-repeat;
    background-color: $black;

    height: 300px;

  }
}
.find-elsewhere {
  td { padding-right: 20px; }
}