/**
 * Featherlight Gallery – an extension for the ultra slim jQuery lightbox
 * Version 1.2.3 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2015, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
	.featherlight-next,
	.featherlight-previous {
		display: block;
		position: absolute;
		top: 25px;
		bottom: 0;
		cursor: pointer;
		/* preventing text selection */
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		/* IE9 hack, otherwise navigation doesn't appear */
		background: rgba(0,0,0,0);
	}
	.featherlight-next {
		left: 80%;
		right: 0px;
	}
	.featherlight-previous {
		left: 0px;
		right: 80%;
	}

	.featherlight-next i,
	.featherlight-previous i {
		display: inline-block;
		position: absolute;

		top: 50%;
		left: 5%;
		right: auto;

		/* center horizontally */
		text-align: center;

		font-size: 40px;

		/* center vertically */
		margin-top: -20px;

		text-shadow: 0px 0px 5px $silver;
		color: #fff;
	}
	.featherlight-next i {
		right: 5%;
		left: auto;
	}

	/* Hide navigation while loading */
	.featherlight-loading .featherlight-previous, .featherlight-loading .featherlight-next {
		display:none;
	}
}

/* Always display arrows on touch devices */
@media only screen and (max-device-width: 1024px){
	.featherlight-next:hover,
	.featherlight-previous:hover {
		background: none;
	}
	.featherlight-next i,
	.featherlight-previous i {
		display: block;
	}
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
	.featherlight-next,
	.featherlight-previous {
		top: 10px;
	}

	.featherlight-next {
		right: 5px;
		left: 85%;
	}

	.featherlight-previous {
		left: 5px;
		right: 85%;
	}

	.featherlight-next i,
	.featherlight-previous i {
		font-size: 20px;
		margin-top: -10px;
	}
}
