@font-face {
	font-family: Trend-Sans-One;
	src: url("/fonts/Trend-Sans-One.otf") format("opentype");
}

@font-face {
	font-family: Trend-Sans-One;
	src: url("/fonts/Trend-Sans-One-Italic.otf") format("opentype");
	font-style: italic;
}

@font-face {
	font-family: Trend-Sans-Four;
	src: url("/fonts/Trend-Sans-Four.otf") format("opentype");
}

@font-face {
	font-family: Trend-Sans-Four;
	src: url("/fonts/Trend-Sans-Four-Italic.otf") format("opentype");
	font-style: italic;
}

@font-face {
	font-family: Trend-Sans-Five;
	src: url("/fonts/Trend-Sans-Five.otf") format("opentype");
}

@font-face {
	font-family: Trend-Sans-Five;
	src: url("/fonts/Trend-Sans-Five-Italic.otf") format("opentype");
	font-style: italic;
}

@font-face {
	font-family: Trend-HM-Sans-One;
	src: url("/fonts/Trend-HM-Sans-One.otf") format("opentype");
}

@font-face {
	font-family: Trend-HM-Sans-One;
	src: url("/fonts/Trend-HM-Sans-One-Italic.otf") format("opentype");
	font-style: italic;
}

@font-face {
	font-family: Trend-HM-Sans-Four;
	src: url("/fonts/Trend-HM-Sans-Four.otf") format("opentype");
}

@font-face {
	font-family: Trend-HM-Sans-Four;
	src: url("/fonts/Trend-HM-Sans-Four-Italic.otf") format("opentype");
	font-style: italic;
}

@font-face {
	font-family: Trend-HM-Sans-Five;
	src: url("/fonts/Trend-HM-Sans-Five.otf") format("opentype");
}

@font-face {
	font-family: Trend-HM-Sans-Five;
	src: url("/fonts/Trend-HM-Sans-Five-Italic.otf") format("opentype");
	font-style: italic;
}

@font-face {
	font-family: Oxygen;
	src: url("/fonts/Oxygen.otf") format("opentype");
}

@font-face {
	font-family: Oxygen;
	src: url("/fonts/Oxygen-Bold.otf") format("opentype");
	font-weight: bold;
}

@font-face {
	font-family: Oxygen;
	src: url("/fonts/Oxygen-BoldItalic.otf") format("opentype");
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: Oxygen;
	src: url("/fonts/Oxygen-Italic.otf") format("opentype");
	font-style: italic;
}