#title-section {
	height: 500px;
	background-image: url("/images/section_backgrounds/index2.jpg");
	background-attachment: fixed;
	background-position: 0 $top-nav-height;
	padding-top: 200px;

	.title {
		background-color: $blood-red;
		color: $black;
		margin: auto;
		opacity: 0.9;
		padding: 40px;
		width: 80%;
		img {
			width: 100%;
		}
	}
}

.index-body {
	section {
		// padding: $section-padding 0;
		min-height: 300px;
		&:nth-child(odd) {
			background-color: $black;
			color: $blood-red;
		}
		&:nth-child(even) {
			background-color: $blood-red;
			color: $black;
		}
		.bio-photo {
			margin-right: 20px;
			margin-bottom: 10px;
		}
		h2 {
			border-bottom: 3px solid $blood-red;
		}
	}
}
