#site-title {
	height: 500px;
	background-image: url("/images/section_backgrounds/index2.jpg");
	background-attachment: fixed;
	background-position: 0 $top-nav-height;
	padding-top: 200px;

	.title {
		background-color: $blood-red;
		color: $black;
		margin: auto;
		opacity: 0.9;
		padding: 40px;
		img {
			width: 100%;
		}
	}
}

.index-body {
	section {
		// padding: $section-padding 0;
		min-height: 300px;
		&:nth-child(even) {
			background-color: $black;
			color: $blood-red;
		}
		&:nth-child(odd) {
			background-color: $blood-red;
			color: $black;
		}
		.bio-photo {
			margin-right: 20px;
			margin-bottom: 10px;
		}
		h2 {
			border-bottom: 3px solid $blood-red;
		}
	}
	a.more {
	  @include trend-sans-font;
	  border-bottom: 2px solid $blood-red;
	  &:hover, &:focus, &:visited {
	  	text-decoration: none;
	  }
		// text-decoration: underline;
	}
}


