.photography-page-body {
  h1 {
    margin-bottom: 30px;
  }
  // section:nth-child(even) {
  //   background-color: $black;
  //   color: $silver;
  // }
  // section:nth-child(odd) {
  //   background-color: $blood-red;
  //   color: $black;
  //   a {
  //     color: $black;
  //     text-decoration: underline;
  //   }
  // }

  .album-background-image {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 200px;

    &.an-incomplete-rebirth {
      background-image: url('/images/photography/an-incomplete-rebirth/background.jpg');
    }
    &.dancing-with-invisible-light {
      background-image: url('/images/photography/dancing-with-invisible-light/background.jpg');
    }
    &.hubba-hubba-revue {
      background-image: url('/images/photography/hubba-hubba-revue/background.jpg');
    }
    &.music {
      background-image: url('/images/photography/music/background.jpg');
    }
    &.portraits {
      background-image: url('/images/photography/portraits/background.jpg')
    }
    &.six {
      background-image: url('/images/photography/six/background.jpg');
    }
  }
  #primary-image {
    height: 500px;
  }

  .model-list {
    list-style: none;
    margin: 0;
    margin-bottom: 20px;
    li {
      display: inline-block;
      margin-right: 15px;
    }
  }
}