.photo {
  .meta {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
    opacity: 0;

    background-color: rgba(0, 0, 0, 0.8);
    color: $silver;
    font-size: 13px;
    text-align: center;
  }
  &:hover .meta {
    opacity: 1;
  }
  .flickr_link {
    text-align: right;
    margin-bottom: 0;
    margin-right: 5px;
  }
}

img.thumbnail {
  margin: 5px;
}