.photography-page-body {
  h1 {
    color: $blood-red;
    border-bottom: 3px solid $blood-red;
    margin-bottom: 30px;
  }
  section:nth-child(even) {
    background-color: $black;
    color: $silver;
  }
  section:nth-child(odd) {
    background-color: $blood-red;
    color: $black;
    a {
      color: $black;
      text-decoration: underline;
    }
  }
  .primary-photo {
    margin: 0 auto;
  }

  #primary-image {
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    &.an-incomplete-rebirth {
      background-image: url('/images/photography/an-incomplete-rebirth/background.jpg');
    }
    &.dancing-with-invisible-light {
      background-image: url('/images/photography/dancing-with-invisible-light/background.jpg');
    }
    &.portraits {
      background-image: url('/images/photography/portraits/background.jpg')
    }
    &.six {
      background-image: url('/images/photography/six/background.jpg');
    }
  }

  h4 {
    margin-bottom: 0;
  }
  .model-list {
    list-style: none;
    margin: 0;
    li {
      display: inline-block;
      margin-right: 10px;
    }
  }
}