// Colors
$blood-red: 	#CA2026;
$slate: 			#565656;
$black: 			#000000;
$white: 			#FFFFFF;
$dark-cherry: #7F141B;
$silver: 			#777677;

// Sizes
$top-nav-height: 	80px;
$spacing-unit:   	30px;


// Font stuff
$base-font-family: Oxygen, Helvetica, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;



//TODO: kill these
$on-palm:          600px;
$on-laptop:        800px;