---
layout: photography-page
key: music
---

{% contentfor description %}
%p
  A collection of concert photography
{% endcontentfor %}

{% contentfor credits %}
%h4 Artists
%ul.model-list

  %li
    %a{href: 'http://amandapalmer.net/'}
      Amanda Palmer

  %li
    %a{href: 'http://armenra.com/'}
      Armen Ra

  %li
    %a{href: 'http://www.corpus.cc/'}
      Corpus Callosum

  %li
    %a{href: 'http://www.covenant.se/'}
      Covenant

  %li
    %a{href: 'http://www.neubauten.org'}
      Einstürzende Neubauten

  %li
    %a{href: 'http://www.excusesforskipping.com/'}
      Excuses for Skipping

  %li
    %a{href: 'http://howtodestroyangels.com'}
      How To Destroy Angels

  %li
    %a{href: 'http://www.jilltracy.com'}
      Jill Tracy

  %li
    %a{href: 'http://www.kimboekbinder.com'}
      Kim Boekbinder

  %li
    %a{href: 'https://www.facebook.com/loudobjects'}
      Loud Objects

  %li
    %a{href: 'http://theparlourtrick.com/'}
      Meredith Yayanos

  %li
    Randy Odell

  %li
    %a{href: 'https://www.facebook.com/Return.to.mono.sf'}
      Return to Mono

  %li
    %a{href: 'https://www.facebook.com/pages/Soriah/130459806337'}
      Soriah

  %li
    %a{href: 'http://www.stripmallarchitecture.com'}
      Stripmall Architecture

  %li
    %a{href: 'http://www.thiscantendwell.com/'}
      This Can't End Well

  %li
    %a{href: 'http://www.unwoman.com'}
      Unwoman

  %li
    %a{href: 'https://www.facebook.com/victoriaandthevaudevillains'}
      Victoria and the Vaudevillains

%h4 Venues
%ul.model-list
  %li
    %a{href: 'http://www.theregencyballroom.com/'}
      The Regency Ballroom
    (SF)

  %li
    %a{href: 'http://publicsf.com/'}
      Public Works
    (SF)

  %li
    %a{href: 'http://www.kinosiska.si/en'}
      Kino Šiška
    (Ljubljana)

  %li
    %a{href: 'http://www.dnalounge.com'}
      DNA Lounge
    (SF)

  %li
    The Uptown (Oakland)

  %li
    %a{href: 'http://brickandmortarmusic.com/'}
      Brick & Mortar
    (SF)

  %li
    Fortress Callosum (SF)

  %li
    %a{href: 'http://www.citylights.com/'}
      City Lights
    (SF)

  %li
    %a{href: 'https://www.noisebridge.net/'}
      Noisebridge
    (SF)

  %li
    %a{href: 'http://viracochasf.com/'}
      Viracocha
    (SF)

  %li
    %a{href: 'http://www.reddevillounge.com/'}
      Red Devil Lounge
    (SF)

  %li
    Cafe du Nord (SF)

  %li
    %a{href: 'http://www.rickshawstop.com/'}
      Rickshaw Stop
    (SF)

{% endcontentfor %}