---
layout: photography-page
key: portraits
---
{% contentfor description %}
%p
  Portraits, mostly in the studio, some out in the world.
{% endcontentfor %}

{% contentfor credits %}
%p
  %a{href: 'http://www.twitter.com/sfslim', target: '_blank'}
    Aaron Muszalski
  (Model, Post-production)

%p
  Christina Liu (Smoke Puppeteer, Aerial Assistance)

%p
  %a{href: 'http://www.darkgarden.com', target: '_blank'}
    Dark Garden
  (Styling)

%p
  Dave Herzenberg (Model)

%p
  Dwoira Galilea (Model)

%p
  %a{href: 'http://dymaxion.org/', target: '_blank'}
    Eleanor Saitta
  (Model)
%p
  Eli Rosseter (Location Coordination & Assistance)

%p
  Grace Bones (Model, Styling)

%p
  %a{href: 'http://www.raindrift.com', target: '_blank'}
    Ian Baker
  (Lighting Assistance, Laser)

%p
  %a{href: 'http://www.jilltracy.com', target: '_blank'}
    Jill Tracy
  (Model)

%p
  Kat Mulkey (Photo Assistance)

%p
  %a{href: 'http://www.kimboekbinder.com/', target: '_blank'}
    Kim Boekbinder
  (Model)

%P
  Lee Dotson (Makeup, Post-production)

%p
  %a{href: 'http://maggiepowers.com/', target: '_blank'}
    Maggie Powers
  (Model)

%p
  %a{href: 'https://theparlourtrick.bandcamp.com/', target: '_blank'}
    Meredith Yayanos
  (Model, Styling)

%p
  %a{href: 'http://www.mikeestee.com', target: '_blank'}
    Mike Estee
  (Lighting Aerialist, Design of Custom Equipment)

%p
  %a{href: 'http://www.nadyalevphoto.com', target: '_blank'}
    Nadya Lev
  (Photo Assistance)

%p
  Nadia (Model)

%p
  %a{href: 'http://sister0.org/', target: '_blank'}
    Nancy Mauro-Flude
  (Model)

%p
  %a{href: 'http://www.nicolation.net', target: '_blank'}
    Nicole Aptekar
  (Smoke Puppeteer)

%p
  Rebecca Coseboom of
  %a{href: 'http://www.stripmallarchitecture.com/', target: '_blank'}
    Stripmall Architecture
  (Model)

%p
  %a{href: 'http://www.mediapathic.net', target: '_blank'}
    Steen Comer
  (Model, Graffiti, Laser, Projection)

%p
  Tilde (Photo Assistance)

%p
  %a{href: 'http://www.qtrnevermore.com/', target: '_blank'}
    Trista Musco
  (Photo Assistance, Smoke Puppeteer)

%p
  %a{href: 'http://unwoman.com/', target: '_blank'}
    Unwoman
  (Model)

%p
  %a{href: 'http://valerieleavy.com/', target: '_blank'}
    Valerie Leavy
  (Bourbon Angel)

{% endcontentfor %}