---
layout: default
body_class: photography-page
---

%section
  .container
    %h1.black.with-underline
      Photography Portfolio

%section.album-background-image.dancing-with-invisible-light

%section
  .container
    %a{href: 'dancing-with-invisible-light/'}
      %h2 Dancing With Invisible Light

%section.album-background-image.six

%section
  .container
    %a{href: 'six/'}
      %h2 Six

%section.album-background-image.portraits

%section
  .container
    %a{href: 'portraits/'}
      %h2 Portraits

%section.album-background-image.music

%section
  .container
    %a{href: 'music/'}
      %h2 Music

%section.album-background-image.hubba-hubba-revue

%section
  .container
    %a{href: 'hubba-hubba-revue'}
      %h2 Hubba Hubba Revue