---
layout: page
title: About!
---

%p
	%i.fa.fa-fw.fa-envelope
	email
	%a{href: 'mailto:audrey@audreypenven.net'}
		audrey@audreypenven.net
%p
	%i.fa.fa-fw.fa-twitter
	twitter
	%a{href: 'http://www.twitter.com/yerdua'}
		@yerdua
%p
	%i.fa.fa-fw.fa-flickr
	flickr
	%a{href: 'https://www.flickr.com/photos/audreypenven/'}
		flickr.com/photos/audreypenven
%p
	%i.fa.fa-fw.fa-instagram
	instagram
	%a{href: 'http://instagram.com/y3rdua'}
		@y3rdua
%p
	%i.fa.fa-fw.fa-github
	github
	%a{href: 'https://github.com/yerdua'}
		github.com/yerdua