---
layout: default
body_class: about red-first
---

%section#primary-image

%section#bio
	.container
		%h1.red.with-underline
			Audrey Penven
		%p
			photographer, trapeze artist, programmer, post-nihilist, builder of large-scale art, mostly in San Francisco.

/ %section#in-print
/ 	.container
/ 		%h2.black.with-underline
/ 			In Print
/ 		%p
/ 			Sometimes my work is used as album art, or shows up in a book.

%section#contact
	.container
		%h2.black.with-underline
			Find me elsewhere

		%table.find-elsewhere
			%tr
				%td
					%i.fa.fa-fw.fa-envelope
					email
				%td
					%a{href: 'mailto:audrey@audreypenven.net'}
						audrey@audreypenven.net
			%tr
				%td
					%i.fa.fa-fw.fa-twitter
					twitter
				%td
					%a{href: 'http://www.twitter.com/yerdua'}
						@yerdua
			%tr
				%td
					%i.fa.fa-fw.fa-flickr
					flickr
				%td
					%a{href: 'https://www.flickr.com/photos/audreypenven/'}
						flickr.com/photos/audreypenven
			%tr
				%td
					%i.fa.fa-fw.fa-instagram
					instagram
				%td
					%a{href: 'http://instagram.com/y3rdua'}
						@y3rdua
			%tr
				%td
					%i.fa.fa-fw.fa-github
					github
				%td
					%a{href: 'https://github.com/yerdua'}
						github.com/yerdua