---
layout: page
title: About!
---

%p
	email:
	%a{href: 'mailto:audrey@audreypenven.net'}
		audrey@audreypenven.net
%p
	twitter:
	%a{href: 'http://www.twitter.com/yerdua'}
		@yerdua
%p
	flickr:
	%a{href: 'https://www.flickr.com/photos/audreypenven/'}
		flickr.com/photos/audreypenven
%p
	github:
	%a{href: 'https://github.com/yerdua'}
		github.com/yerdua