---
layout: photography-page
key: an-incomplete-rebirth
---

{% contentfor description %}
%p
  A series of self-portraits from Spring 2007. Film melted over a candle, tape, hair, thread.
{% endcontentfor %}