---
layout: photography-project
body_class: photography-project
key: dancing-with-invisible-light
---

{% contentfor description %}
// TODO: rewrite this description. I hate this and feel embarassed by it now.
%p
  A series of interactions with Kinect's infrared structured light

%p
  With these images I was exploring the unique photographic possibilities presented by using a Microsoft Kinect as a light source. The Kinect - an inexpensive videogame peripheral - projects a pattern of infrared dots known as "structured light". Invisible to the eye, this pattern can be captured using an infrared camera. The Kinect uses the deformation of this dot pattern to derive 3D information about its subjects (an ability which has already spawned an explosion of incredible digital art).

%p
  As a photographer I am most interested in the nature and quality of light: how light behaves in the physical world, and how it interacts with and affects the subjects that it illuminates. For this shoot my models and I were essentially working blind, with the results visible only after each image was captured. Together, we explored the unique physicality of structured light, finding our way in the darkness by touch and intuition. Dancing with invisible light.

{% endcontentfor %}


{% contentfor credits %}

%p
  %a{href: 'http://www.twitter.com/sfslim', target: '_blank'} Aaron Muszalski
  worked with me on the concept, and took care of the logistics and coordination for the shoot.

%p
  %a{href: 'http://www.mikeestee.com/portfolio/', target: '_blank'} Mike Estee
  is a long time collaborator in many mediums. He lent his technical expertise and photographic equipment to the shoot. He also modeled for me, assisted with lighting and wrote a
  %a{href: 'http://www.mikeestee.com/blog/2010/11/shootin-at-700/', target: '_blank'} blog post
  about the experience.

%p
  %a{href: 'http://www.raindrift.com', target: '_blank'}Ian Baker
  assisted with lighting arrangement and modeled.

%p
  %a{href: 'http://www.nicolation.net', target: '_blank'} Nicole Aptekar
  was involved in early experimentation and lent her Kinect to the shoot.

%h4
  Models
%ul.model-list
  %li
    %a{href: 'http://www.qtrnevermore.com', target: '_blank'}
      Trista Musco
  %li C. King
  %li KC
  %li
    %a{href: 'http://www.mikeestee.com/portfolio/', target: '_blank'}
      Mike Estee
  %li
    %a{href: 'http://www.raindrift.com', target: '_blank'}
      Ian Baker
  %li Helyx
  %li
    %a{href: 'http://thisisstar.com', target: '_blank'}
      Star St. Germain
  %li Annetta Black
  %li Josh St. John

{% endcontentfor %}

{% contentfor related_links %}
%ul
  %li
    %a{href: 'http://coilhouse.net/2011/03/audrey-penven-dancing-with-invisible-light/', target: '_blank'}
      Audrey Penven: Dancing With Invisible Light
    (Coilhouse)
  %li
    %a{href: 'https://www.flickr.com/photos/audreypenven/sets/72157625454305998/', target: '_blank'}
      Dancing With Invisible Light
    (Flickr album, with more photos, comments and stuff)
  %li
    %a{href: 'https://www.flickr.com/photos/audreypenven/sets/72157625407563402/', target: '_blank'}
      Kinect test shoot on Flickr
  %li
    %a{href: 'https://www.flickr.com/photos/audreypenven/sets/72157626363413817/', target: '_blank'}
      Opening reception photos from the gallery show at Pictopia
  %li
    %a{href: 'http://www.mikeestee.com/blog/2010/11/shootin-at-700/', target: '_blank'}
      Mike Estee: Shootin' at 700

{% endcontentfor %}
