---
layout: photography-page
key: dancing-with-invisible-light
---

{% contentfor description %}
%p
  Dancing With Invisible Light is a series of interactions with the structured infrared light from a&nbsp;
  %a{href: 'https://en.wikipedia.org/wiki/Kinect'}><
    Kinect
  \. It is an exploration of machine vision, mediated through layers of technology and time delay. We moved through darkness, illuminated by light invisible to human eyes, finding our way through touch and intuition.

{% endcontentfor %}


{% contentfor credits %}

%p
  %a{href: 'http://www.twitter.com/sfslim', target: '_blank'} Aaron Muszalski
  worked with me on the concept, and took care of the logistics and coordination for the shoot.

%p
  %a{href: 'http://www.mikeestee.com/portfolio/', target: '_blank'} Mike Estee
  is a long time collaborator in many mediums. He lent his technical expertise and photographic equipment to the shoot. He also modeled for me, assisted with lighting and wrote a
  %a{href: 'http://www.mikeestee.com/blog/2010/11/shootin-at-700/', target: '_blank'} blog post
  about the experience.

%p
  %a{href: 'http://www.raindrift.com', target: '_blank'}Ian Baker
  assisted with lighting arrangement and modeled.

%p
  %a{href: 'http://www.nicolation.net', target: '_blank'} Nicole Aptekar
  was involved in early experimentation and lent her Kinect to the shoot.

%h4
  Models
%ul.model-list
  %li
    %a{href: 'http://www.qtrnevermore.com', target: '_blank'}
      Trista Musco
  %li C. King
  %li KC
  %li
    %a{href: 'http://www.mikeestee.com/portfolio/', target: '_blank'}
      Mike Estee
  %li
    %a{href: 'http://www.raindrift.com', target: '_blank'}
      Ian Baker
  %li Helyx
  %li
    %a{href: 'http://thisisstar.com', target: '_blank'}
      Star St. Germain
  %li Annetta Black
  %li Josh St. John

{% endcontentfor %}

{% contentfor related_links %}
%ul
  %li
    %a{href: 'http://coilhouse.net/2011/03/audrey-penven-dancing-with-invisible-light/', target: '_blank'}
      Audrey Penven: Dancing With Invisible Light
    (Coilhouse)
  %li
    %a{href: 'https://www.flickr.com/photos/audreypenven/sets/72157625454305998/', target: '_blank'}
      Dancing With Invisible Light
    (Flickr album, with more photos, comments and stuff)
  %li
    %a{href: 'https://www.flickr.com/photos/audreypenven/sets/72157625407563402/', target: '_blank'}
      Kinect test shoot on Flickr
  %li
    %a{href: 'https://www.flickr.com/photos/audreypenven/sets/72157626363413817/', target: '_blank'}
      Opening reception photos from the gallery show at Pictopia
  %li
    %a{href: 'http://www.mikeestee.com/blog/2010/11/shootin-at-700/', target: '_blank'}
      Mike Estee: Shootin' at 700

{% endcontentfor %}
