---
layout: default
body_class: blog black-first
---
<section class='primary-image'></section>

<section class='title'>
  <div class='container'>
    <h1 class='black with-underline'>Sometimes I Write</h1>
  </div>
</section>

<section class='posts'>
  <div class='container'>
    <ul class='blog-post-list'>
    {% for post in paginator.posts %}
      <li>
        <a href="{{ post.url }}" class='post-title'>
          <h3 class='red with-underline'>{{ post.title }}</h3>
        </a>
        <div class='post-meta'>
          <h4 class="post-date">{{ post.date | date: '%B %d, %Y'}}</h4>
        </div>
        <div class='post-excerpt'>{{ post.excerpt }}</div>
        <a href="{{ post.url }}">(read more...)</a>
      </li>
    {% endfor %}
    </ul>
    <div class='pagination-nav'>
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class='pull-left'>
          <i class='fa fa-chevron-left'></i> more recent</a>
      {% endif %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class='pull-right'>further in the past <i class='fa fa-chevron-right'></i></a>
      {% endif %}
    </div>
  </div>
</section>