---
layout: photography-page
key: six
---

{% contentfor description %}
%p
  Six is an ongoing series, started in 2008. Each photograph is a layering of six time fragments on one frame of 35mm film.
{% endcontentfor %}

{% contentfor credits %}
%h4 Models
%ul.model-list
  %li
    %a{href: 'http://www.corpus.cc/', target: '_blank'} Corpus Callosum
  %li Reed Kennedy
  %li
    %a{href: 'http://www.qtrnevermore.com', target: '_blank'} Trista Musco
  %li hurtstotouchfire
  %li Lola Vauntz
{% endcontentfor %}