---
layout: photography-project
body_class: photography-project
key: six
---

{% contentfor description %}
%p
  Six disconnected moments, stacked on film. An ongoing series started in 2008.
{% endcontentfor %}

{% contentfor credits %}
%h4 Models
%ul.model-list
  %li
    %a{href: 'http://www.corpus.cc/', target: '_blank'} Corpus Callosum
  %li Reed Kennedy
  %li
    %a{href: 'http://www.qtrnevermore.com', target: '_blank'} Trista Musco
  %li hurtstotouchfire
  %li Lola Vauntz
{% endcontentfor %}